.footer{
    background-color: rgb(14, 30, 61);
    color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p{
    padding: 4px;
    margin: 0;
}
.footerLinks{
    padding: 10px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links, a{
    text-decoration: none;
    color: white;
}

.links{
    padding: 0 10px;
    font-size: 35px !important;
}

.mySite{
    color: yellow;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    font-weight: bold;
}